.content {
    grid-area: content;
    background-color: #80eeff;
}

.users {
    padding: 6px;
    flex: 0 1 30%;
    align-self: stretch;
    background-color: #ebedf0;
    text-align: center;
    line-height: 30px;
}

.u {
    color: #000000;
}