.nav {
    grid-area: nav;
    background-color: #4A4E58;
}

.button{
    width: 100%;
    background: #4A4E58; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 0.2rem 1.5rem; /* Поля вокруг текста */
    margin-bottom: 1rem; /* Отступ снизу */
    border-radius: 20px;
}

.button:hover {

    background: #2f44f3;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.button a {
    text-decoration: none;
    color: #fff;

}

.button a:active{
    color: #000000;
}