.app {
  display: grid;
  width: 100%;
  grid-template-areas:
"header header "
"nav content ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;



}
.header {
  grid-area: header;
  background-color: #adbbff;
}
.nav {
  grid-area: nav;
  background-color: #3636c9;
}
.content {
  grid-area: content;
  background-color: #0c4848;
}
.content img{
  width: 100%;
  height: 125px;

}